.App {
  text-align: center;
  background-color: #d9e0ee;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: black !important;
  text-decoration: none !important;
  
}

li:has(a) {
  height: 100%;
  padding: 0px !important;
}
.darkmode--activated p, .darkmode--activated li {
  z-index: 100;

}

.navbar {
  position: relative;
  top: 0;
  padding: 0 !important;
  background: #fff;
  box-shadow: inset 0px -1px 0px #f3f3f4;
  height: 60px;
  margin: 0 2em;
  margin-bottom: 20px;
}

.navbar-brand {
  width: 150px;
}

.container-fluid {
  height: 60px;
}

.nav-item {
  width: 50px;
}

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
